flask
redis
requests 
pysocks 
stem
sqlalchemy
psycopg2
flask_sqlalchemy
argon2-cffi
cryptography
Pillow
flask_limiter
bleach
python-dotenv
flask_cors
gunicorn
gevent
mutagen
pikepdf
user-agents
pywebpush
flask-session-captcha
flask_qrcode
