  body {
    max-width: 500px;      
    margin-top: 90px;      
    margin-left: 700px;    
    padding: 1em;          
    background: black;     
    color: #fff;
    font: 16px/1.6 menlo, monospace;
  }
  a { color: #0ff; }

  .logo {
    position: absolute;
    top: 5px;
    left: 640px;
    width: 290px;
    height: auto;
    z-index: -1;
  }
  
  .error {
    color: #f00;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid #f00;
    padding: 0.8em;
    margin: 1em 0;
    border-radius: 2px;
  }

  .loading {
    color: #0f0;
    background: rgba(0, 255, 0, 0.1);
    border: 1px solid #0f0;
    padding: 0.8em;
    margin: 1em 0;
    border-radius: 2px;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
