<!doctype html>
<title>Login - phasma</title>
<link rel="icon" type="image/png" href="/static/icon.png">
<link rel="stylesheet" href="/static/css/login.css">

<body>
  <div>
    <img src="/static/phisma_title.png" alt="logo" class="logo">
  </div>
  <h2>Enter the chat</h2>

  <div id="error-msg"></div>

  <form id="login-form">
    <p>Username: <input name="user" id="username" required autocomplete="username" /></p>
    <p>Password: <input type="password" name="password" id="password" required autocomplete="current-password" /></p>
    <p><input type="submit" value="Log in" id="submit-btn" /></p>
  </form>
  <p>Don't have an account? <a href="/register">Register</a></p>

  <script nonce="{{ nonce }}" src="/static/js/login.js"></script>
</body>

</html>